PROXMOX_API_URL=https://192.168.1.104:8006/api2/json
PROXMOX_USER=root@pam
PROXMOX_PASSWORD=REPLACE_ME
PROXMOX_NODE=proxmox1
PROXMOX_STORAGE=local-lvm
PROXMOX_BRIDGE=vmbr0
PROXMOX_TEMPLATE_NAME=ubuntu-2404-cloud-template
CONTROL_IP=192.168.1.111
WORKER_IP=192.168.1.112
AI_IP=192.168.1.113
MONITOR_IP=192.168.1.114
GATEWAY_IP=192.168.1.254
ADMIN_USERNAME=chase
ADMIN_PASSWORD=steak321
VM_PASSWORD=steak321
OLLAMA_MODEL=phi3:mini
SSH_PRIVATE_KEY=
SSH_PUBLIC_KEY=
DASHBOARD_PORT=8080
